@use "$styles/functions/convert";

.layout {
	&:last-child {
		.block {
			border: none;
		}
	}
}

.block {
	width: 100%;
	padding: convert.to-rem(50) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: convert.to-rem(20);
	border-bottom: 1px solid var(--foreground);
}

.title {
	font-weight: 700;
}
