@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.header {
	width: 100%;
	z-index: var(--z-index-header);
	background-color: var(--background);
	@include md {
	}

	@include lg {
	}

	&_fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
}

.line {
	position: absolute;
	height: 1px;
	left: 0;
	width: 100%;
	bottom: 0;
	background-color: var(--color-border-1);
}

.block {
	min-height: convert-px2rem(var(--header-height-number));
	display: flex;
	align-items: center;
	@include md {
	}

	@include lg {
	}
}

.buttons {
	margin-left: auto;
}
