@use "@/styles/functions/convert";
@import "@/styles/mixins/breakpoints";

.block {
	max-width: convert.to-rem(360);
	margin: 0 auto;

	@include md {
		max-width: unset;
	}
}

.title {
	margin-bottom: convert.to-rem(20);
	text-align: center;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: convert.to-rem(20);
}

.button {
	width: 100% !important;
	margin-top: convert.to-rem(24);
}

.content {
	max-width: convert.to-rem(360);
	margin: 0 auto;
}
