@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	@include md {
	}

	@include lg {
	}

	@include hover-wrapper {
		.image {
			transform: scale(1.02);
		}
	}
}

.imageWrap {
	// padding: convert-px2rem(46) convert-px2rem(27);
	position: relative;
	background-color: var(--bg-card-1);
	border-radius: convert-px2rem(10);
	overflow: hidden;
	aspect-ratio: 190/227;

	@include lg {
		aspect-ratio: 35/42;
		border-radius: convert-px2rem(20);
		// padding: convert-px2rem(85) convert-px2rem(50);
	}
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: transform var(--transition-duration-long);
}

.info {
	display: flex;
	flex-direction: column;

	margin-top: convert-px2rem(19);
	flex-grow: 1;
}

.title {
	@include line-clamp(2);
}

.subtitle {
	@include line-clamp(2);
	opacity: 0.5;
	@include small-text();
	margin: convert-px2rem(4) 0 convert-px2rem(12);

	@include lg {
		margin: convert-px2rem(4) 0 convert-px2rem(20);
	}
}

.bottom {
	display: flex;
	gap: convert-px2rem(8);
	align-items: center;
	margin-top: auto;
	min-height: convert-px2rem(32);
}

.auctionHeading {
	position: absolute;
	top: convert-px2rem(8);
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 convert-px2rem(8);

	@include lg {
		top: convert-px2rem(10);
		padding: 0 convert-px2rem(10);
	}
}

.auctionIcon {
	width: convert-px2rem(24);
	svg {
		width: 100%;
		height: auto;
	}

	@include md {
		width: convert-px2rem(36);
	}
}

.wrapLink {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cartButton {
	position: relative;
	z-index: 1;
}
