@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	// padding: 0 convert-px2rem(20);
	@include md {
	}

	@include lg {
		padding: 0;

		overflow: hidden;
	}
}

.swiper {
	@include lg {
		width: convert-px2rem(1790);
	}
}

.card {
	width: 100%;
	max-width: calc((100vw - convert-px2rem(50)) / 2);

	@include md {
		max-width: calc((100vw - convert-px2rem(60)) / 3);
	}

	@include lg {
		max-width: convert-px2rem(350);
	}
}

.slide {
	height: auto;
	display: flex;
}

.card {
	height: auto;
	display: flex;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: convert-px2rem(10);
	padding-top: convert-px2rem(30);

	@include lg {
		padding-top: convert-px2rem(40);
	}
}
