@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	margin: 0 auto;
	&.width-920 {
		max-width: convert-px2rem(920);
	}
}

.content {
	& > * {
		margin-top: convert-px2rem(10);
	}

	h1,
	h2,
	h3,
	h4 {
		margin: convert-px2rem(20) 0;
	}

	a {
		@include main-link;
		font-size: inherit;
		line-height: inherit;
	}

	ul,
	ol {
		margin-top: convert-px2rem(10);
	}

	ul {
		padding-left: convert-px2rem(30);
		li {
			list-style-type: disc;
		}
	}

	ol {
		padding-left: convert-px2rem(28);
		li {
			list-style-type: decimal;
		}
	}

	li {
		@include main-text;
	}

	div {
		display: flex;
		flex-wrap: wrap;
		margin-top: convert-px2rem(20);

		gap: convert-px2rem(12);

		@include lg {
			gap: convert-px2rem(20);
		}

		figure {
			max-width: calc((100% - convert-px2rem(24)) / 3);

			@include lg {
				max-width: calc((100% - convert-px2rem(40)) / 3);
			}
		}

		&[data-length="1"] {
			figure {
				max-width: 100%;
			}
		}

		&[data-length="2"] {
			figure {
				max-width: calc((100% - convert-px2rem(12)) / 2);

				@include lg {
					max-width: calc((100% - convert-px2rem(20)) / 2);
				}
			}
		}
	}

	img {
		border-radius: convert-px2rem(10);
		width: 100%;
		max-width: 100%;
	}

	@include lg {
	}
}
