@use "$styles/functions/convert";
@use "$styles/mixins/mixins";

.button {
	width: convert.to-rem(24);

	height: convert.to-rem(24);
	@include mixins.flex-center;
	@include mixins.hover-opacity;

	svg {
		width: 100%;
		height: auto;
	}
}
