@use "@/styles/functions/convert";
@import "@/styles/mixins/mixins";

.button {
	width: convert.to-rem(24);

	height: convert.to-rem(24);
	@include flex-center;
	@include hover-opacity;

	svg {
		width: 100%;
		height: auto;
	}
}
