@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	overflow: hidden;
	background-color: var(--bg-card-1);

	@include lg {
	}
}

.wrap {
	@include md2 {
		display: flex;
		flex-direction: row-reverse;
	}
}

.title {
	margin-bottom: convert-px2rem(20);
}

.imageWrap {
	width: calc(100% + convert-px2rem(40));
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	margin-top: convert-px2rem(-3);
	max-height: convert-px2rem(460);

	@include md2 {
		max-height: unset;
		width: 50%;
		left: unset;
		transform: unset;
		flex-shrink: 0;
	}
}

.image {
	width: 100%;
	aspect-ratio: 430/356;
	object-fit: cover;
	object-position: right;

	@include md2 {
		position: absolute;
		right: convert-px2rem(-5);
		top: 0;
		max-width: unset;
		aspect-ratio: unset;
		width: convert-px2rem(966);
		height: 100%;
		// margin-left: auto;
	}
}

.first {
	padding-top: convert-px2rem(60);

	@include md2 {
		flex-shrink: 0;
		width: 50%;
		min-height: convert-px2rem(602);
		padding: convert-px2rem(60) 0 0 convert-px2rem(30);
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	@include lg {
		padding: convert-px2rem(100) convert-px2rem(20) 0 convert-px2rem(75);
	}
}

.content {
	margin-bottom: convert-px2rem(40);
}

.logo {
	opacity: 0.1;
	margin: 0 auto;
	max-width: convert-px2rem(614);
	width: 100%;

	@include md2 {
		margin-top: auto;
	}

	@include lg {
		width: 103%;
		position: relative;
		left: convert-px2rem(-20);
	}
}
