@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.imageWrap {
	position: relative;
	width: 100%;

	min-height: calc(100svh - convert-px2rem(var(--header-height-number)));
}

.image {
	object-fit: cover;
	width: 100%;
	height: auto;
}
