@use "$styles/functions/convert";

.imageWrap {
	position: relative;
	width: 100%;

	min-height: calc(100svh - convert.to-rem(var(--header-height-number)));
}

.image {
	object-fit: cover;
	width: 100%;
	height: auto;
}
