@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.title {
	@include main-text();
	margin: convert-px2rem(20) 0;
	font-weight: 600;

	@include md {
		margin: convert-px2rem(40) 0;
	}
}

.accordion {
	padding: 0 !important;
	display: flex !important;
	flex-direction: column;
	gap: convert-px2rem(10);
}

.base {
	background-color: var(--bg-card-1) !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: convert-px2rem(20) !important;
	padding: 0 convert-px2rem(20) !important;

	@include md {
		padding: 0 convert-px2rem(34) 0 convert-px2rem(40) !important;
	}
}

.trigger {
	padding: 0 !important;
	transition: margin var(--transition-duration) !important;

	&[data-open="true"] {
		margin-bottom: convert-px2rem(-10) !important;
	}

	@include md {
		align-items: flex-start !important;

		&[data-open="true"] {
			margin-bottom: convert-px2rem(-20) !important;
		}
	}

	@include hover-wrapper {
		svg {
			circle {
				fill: var(--bg-button-4-hover);
			}

			path {
				stroke: var(--background);
			}
		}
	}

	@include active-wrapper {
		svg {
			circle {
				fill: var(--bg-button-4-active);
			}

			path {
				stroke: var(--background);
			}
		}
	}
}

.indicator {
	will-change: transform;

	@include md {
		margin-top: convert-px2rem(34);
	}

	svg {
		circle {
			transition: fill var(--transition-duration);
		}

		path {
			transition: stroke var(--transition-duration);
		}
	}

	&[data-open="true"] {
		transform: rotate(-45deg) !important;
		svg {
			circle {
				fill: var(--bg-button-4-active);
			}

			path {
				stroke: var(--background);
			}
		}
	}

	@include md {
	}

	@include lg {
	}
}

.content {
	padding: 0 0 convert-px2rem(20) !important;

	@include md {
		padding: 0 0 convert-px2rem(40) !important;
	}
}
