@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.link {
	max-width: convert-px2rem(390);
	margin: convert-px2rem(30) auto 0;
	width: 100%;

	@include lg {
		max-width: convert-px2rem(240);
		margin: 0;
		margin-bottom: convert-px2rem(12);
		// position: absolute;
		// right: convert-px2rem(30);
		// top: convert-px2rem(-10);
	}

	&.mob {
		display: block;

		@include lg {
			display: none;
		}
	}

	&.desk {
		display: none;
		@include lg {
			display: block;
		}
	}
}
