:root {
	--font-size-init-number: 16;
	--font-size_normal: calc(var(--font-size-init-number) * 1px);
	--font-size_small: 12px;

	--font-line-height: normal;

	--transition-duration: 0.2s;

	// colors
	--color-black: #212121;
	--color-black-opacity-10: #21212110;
	--color-black-opacity-30: #21212130;
	--color-black-opacity-50: #21212150;

	--color-white: #fff;
	--color-gray-1: #f8f8f8;
	--color-red-1: #ff4a4a;

	--color-background-1: var(--color-white);
	--color-text-1: var(--color-black);
	--color-background-2: var(--color-black);
	--color-text-2: var(--color-white);

	// &.dark {}
}
