@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: flex;
	gap: convert-px2rem(6);

	align-items: center;
	border-radius: convert-px2rem(30);

	min-height: convert-px2rem(24);
	padding-left: convert-px2rem(9);
	background-color: var(--background);
	min-width: convert-px2rem(136);

	@include md {
		min-height: convert-px2rem(36);
		padding-left: convert-px2rem(15);
		min-width: convert-px2rem(147);
	}

	@include lg {
	}
}

.count {
	@include small-text();
	line-height: 1;
}
