@use "@/styles/functions/convert";
@use "@/styles/mixins/breakpoints";

.wrap {
	background-color: var(--background);
	width: calc(100% - convert.to-rem(20));
	max-width: convert.to-rem(600);
	border-radius: convert.to-rem(10);
	max-height: 96%;
	@include breakpoints.md {
		width: 100%;
	}
}

.scroll {
	max-height: 100%;
}

.close {
	position: absolute;
	right: convert.to-rem(20);
	top: convert.to-rem(20);
}

.content {
	padding: convert.to-rem(60) convert.to-rem(20);
	position: relative;
}
