@use "@/styles/functions/convert";
@import "@/styles/mixins/mixins";

.buttons {
	position: absolute;
	right: convert.to-rem(10);
	top: 0;
	height: 100%;
	max-height: convert.to-rem(var(--input-height-number));
	@include flex-center;
	flex-direction: row;
}

.reset {
	width: convert.to-rem(24) !important;
	height: convert.to-rem(24) !important;

	svg {
		width: 18px !important;
	}
}

.calendar {
	width: convert.to-rem(24) !important;
	height: convert.to-rem(24) !important;
	@include flex-center;
	@include hover-opacity;

	svg {
		width: 16px;
		height: auto;
	}
}
