@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	overflow: hidden;
	@include md {
	}

	@include lg {
	}
}

.accordion {
	padding: 0 !important;

	hr {
		display: none !important;
	}
}

.trigger {
	padding: 0 !important;
	padding-bottom: convert-px2rem(8) !important;
	gap: convert-px2rem(6) !important;
	align-items: center !important;
}

.titleWrapper {
	flex: unset !important;
}

.title {
	font-weight: 400 !important;
	font-size: convert-px2rem(14) !important;
	line-height: 1.5 !important;

	&_size-12 {
		font-size: convert-px2rem(12) !important;
	}
}

.content {
	padding: 0 !important;
	padding-bottom: convert-px2rem(8) !important;
}

.contentWrapper {
	background-color: var(--bg-card-1);
	padding: convert-px2rem(12);

	display: grid;

	gap: convert-px2rem(8) convert-px2rem(10);

	&_columns-2 {
		grid-template-columns: 34% 34%;
	}
}

.indicator {
	position: relative;

	&[data-open="true"] {
		transform: rotate(-180deg) !important;
	}
}

.link {
	@include menu-link();
	font-size: convert-px2rem(12);
	word-break: break-word;
}

.item {
	@include small-text();
}
