@use "@/styles/functions/convert";
@use "@/styles/mixins/breakpoints";

.navigation {
	visibility: hidden;
	opacity: 0;

	&.visible {
		visibility: visible;
		opacity: 1;
	}
}

.prev,
.next {
	z-index: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.prev {
	left: convert.to-rem(20);
}

.next {
	right: convert.to-rem(20);
}
