@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.button {
	width: convert-px2rem(24);
	height: convert-px2rem(24);
	@include flex-center();

	transition: color var(--transition-duration);

	path:first-child {
		transition: fill var(--transition-duration);
	}

	@include hover-wrapper {
		color: var(--bg-button-4-hover);
		path:first-child {
			fill: var(--bg-button-4-hover);
		}
	}

	@include active-wrapper {
		color: var(--bg-button-4-active);
		path:first-child {
			fill: var(--bg-button-4-active);
		}
	}
}
