@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.nav {
	width: 100%;
	@include md {
	}

	@include lg {
	}
}

.scrollbar {
	width: 100%;
}

.list {
	display: flex;
	width: fit-content;
	padding: 0;
	min-height: convert-px2rem(30);

	@include lg {
	}
}
