@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	flex-shrink: 0;
	width: auto;
	padding-right: convert-px2rem(20);
	display: flex;
	gap: convert-px2rem(50);
}

.image {
	max-width: convert-px2rem(300);
	width: 21vw;
	height: convert-px2rem(340);

	object-fit: cover;
}

.button {
	display: block;
	width: convert-px2rem(240);
	height: fit-content;
	margin-top: auto;
	margin-bottom: convert-px2rem(50);
}
