@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.trigger {
	opacity: 1 !important;
	transform: none !important;
}

.base {
	box-shadow: var(--box-shadow) !important;
	border-radius: convert-px2rem(10);

	&::before {
		box-shadow: var(--box-shadow) !important;
		width: 1rem !important;
		height: 1rem !important;
	}
}

.content {
	box-shadow: none !important;
	border-radius: convert-px2rem(10) !important;
	padding: convert-px2rem(30) !important;
}
