@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.placeholder {
	font-size: convert-px2rem(16);
	color: var(--color-input-placeholder);
	position: absolute;
	pointer-events: none;
	line-height: 1;
	left: convert-px2rem(31);
	top: 0;
	height: convert-px2rem(var(--input-height-number));
	display: flex;
	align-items: center;
}

.asterisk {
	color: var(--color-alert);
}
