@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: flex;
	flex-direction: column;
	gap: convert-px2rem(20);
	@include md {
	}

	@include lg {
	}
}
