@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.title {
	margin-bottom: convert-px2rem(20);

	@include lg {
	}
}

.heading {
	@include lg {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
