@use "$styles/functions/convert";
@use "$styles/mixins/typography";

.previewBlock {
	margin-top: convert.to-rem(4);
	display: flex;
	flex-direction: column;
	gap: convert.to-rem(5);
}

.previewName {
	display: inline-block;
}

.fileName {
	@include typography.small-text();
	display: inline;
	word-break: break-word;
}

.reset {
	margin-left: convert.to-rem(5) !important ;
	vertical-align: middle;
	display: inline-flex !important;
	width: convert.to-rem(12) !important;
	height: convert.to-rem(12) !important;
}

.previewImage {
	width: 100%;
	height: auto;
	box-shadow: var(--box-shadow);
}
