@use "@/styles/functions/_convert";
@import "@/styles/mixins/typography";

.block {
	padding-bottom: convert.to-rem(100);
}

.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: convert.to-rem(20);
}

.additionalText {
	@include additional-text;
}

.helperText {
	@include helper-text;
}
