@use "@/styles/functions/convert";
@use "@/styles/mixins/typography";
@use "@/styles/mixins/transition";
@use "@/styles/mixins/interaction";

.block {
	display: flex;
	flex-direction: column;
	gap: convert.to-rem(4);

	&.horizontal {
		flex-direction: row;
		flex-wrap: wrap;
		gap: convert.to-rem(10);
	}
}

.label {
	position: relative;
	display: flex;
	gap: convert.to-rem(10);
	text-align: left;
	cursor: pointer;
	width: fit-content;

	@include interaction.hover {
		.input {
			border-color: var(--color-radio-border-hover);
		}
	}

	&.disabled {
		cursor: not-allowed;
	}
}

.input {
	flex-shrink: 0;
	appearance: none;
	background: var(--bg-radio);
	border: 1px solid var(--color-radio-border);
	height: convert.to-rem(20);
	width: convert.to-rem(20);
	border-radius: 50%;
	vertical-align: text-bottom;
	position: relative;
	cursor: pointer;
	@include transition.create(border-color);

	&.error {
		border-color: var(--color-alert) !important;
	}

	@include interaction.keyboard-focus {
		border-color: var(--color-radio-border-focused);
	}

	@include interaction.disabled {
		background-color: var(--bg-radio-disabled) !important;
		border-color: var(--color-radio-border) !important;
		cursor: not-allowed !important;
	}

	&::before {
		content: "";
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		top: 0;
	}

	&:checked {
		border-color: var(--color-radio-border-focused);
		background-color: var(--bg-radio-checked);
	}

	&:checked::before {
		border-radius: 0;
		background-color: var(--color-radio-point);
		border-radius: 50%;
		margin: convert.to-rem(3) convert.to-rem(3);
	}
}

.text {
	@include typography.additional-text;
}
