@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: none;
	@include md {
	}

	@include lg {
		padding-left: convert-px2rem(40);
		display: flex;
		align-items: center;
		gap: convert-px2rem(40);
	}
}

.link {
	@include menu-link();

	&.small {
		font-size: convert-px2rem(12);
	}
}

.contentWrapper {
	display: flex;
	gap: convert-px2rem(7);
	flex-direction: column;
}

.item {
	@include small-text();
}

.trigger {
	display: flex;
	align-items: center;
	gap: convert-px2rem(6);

	@include additional-text();

	span {
		transition: transform var(--transition-duration);
	}

	&[aria-expanded="true"] {
		span {
			transform: rotate(180deg);
		}
	}
}
