@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.content {
	padding: convert-px2rem(40) 0 convert-px2rem(58);
	background-color: var(--foreground);
	color: var(--background);

	@include lg {
		padding: convert-px2rem(50) 0;
	}
}

.contentWrap {
	@include lg {
		display: grid;
		grid-template-columns: auto convert-px2rem(816);
		gap: convert-px2rem(40);
	}
}

.grid {
	display: grid;
	gap: convert-px2rem(40) convert-px2rem(20);
	grid-template-columns: 160px auto;
	margin-bottom: convert-px2rem(60);

	@include md {
		grid-template-columns: repeat(4, auto);
		justify-content: space-between;
	}

	@include lg {
		grid-column: 2 / span 1;
		grid-row: 1;
		margin-bottom: 0;
	}
}

.social {
	padding-top: convert-px2rem(40);
}

.logoBlock {
}

.logo {
	width: convert-px2rem(140);

	@include lg {
		width: 100%;
		max-width: convert-px2rem(353);
	}
}

.copy {
	display: inline-block;
	margin-top: convert-px2rem(18);
}
