@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.title {
	font-weight: 600;
	margin-bottom: convert-px2rem(16);
}

.content {
	display: grid;
	gap: convert-px2rem(8) convert-px2rem(30);
	max-width: convert-px2rem(179);

	@include md {
		max-width: unset;
	}

	@include lg {
		justify-content: space-between;
	}

	&.twoColumns {
		@include xs {
			grid-template-columns: repeat(2, auto);
		}

		@include lg {
			gap: convert-px2rem(8) convert-px2rem(50);
			grid-template-columns: repeat(3, auto);
		}
	}

	a {
		@include menu-link();
		font-size: convert-px2rem(12);
	}
}
