@import "./functions/convert-px2rem";

.custom-scrollbar-layout {
	.simplebar-visible {
		&::before {
			opacity: 1 !important;
			background: var(--color-scrollbar-thumb) !important;
		}
	}

	.simplebar-vertical {
		top: 6px !important;
		bottom: 6px !important;
		width: 10px !important;
		right: 2px !important;
	}

	.simplebar-horizontal {
		height: 10px !important;
		border: 2px !important;
		.simplebar-scrollbar:before {
			left: 0 !important;

			right: 0 !important;
		}
	}
}
