@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.textarea {
	padding: convert-px2rem(19) convert-px2rem(17) 0 convert-px2rem(30);
	resize: vertical;
	min-height: convert-px2rem(154);
	max-height: convert-px2rem(400);
	border: none !important;
	border-radius: 0;
	width: 100%;
}

.wrapper {
	width: 100%;
	transition: border-color var(--transition-duration);
	border-radius: convert-px2rem(30);
	overflow: hidden;
	display: block;
	padding: 0 convert-px2rem(17) convert-px2rem(20) 0;
	border: 1px solid var(--color-input-border);

	&:has(textarea:focus-visible) {
		border-color: var(--color-input-border-focused);
	}

	// &.filled {}
}
