@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.label {
	cursor: text !important;
}

.wrap {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: convert-px2rem(var(--input-border-radius-number));
	border: 1px solid var(--color-input-border);
	padding: convert-px2rem(14) convert-px2rem(4) convert-px2rem(14)
		convert-px2rem(16);
	transition: border-color var(--transition-duration);
	@include scrollbar;

	&.focused {
		border-color: var(--color-input-border-focused);
	}

	&.error {
		border-color: var(--color-alert) !important;
	}
}

.input {
	overflow-y: scroll;
	display: block;
	width: 100%;
	font-size: convert-px2rem(16);
	padding-right: convert-px2rem(32);

	// resize: vertical;
	min-height: convert-px2rem(150);
	max-height: convert-px2rem(400);

	&::placeholder {
		opacity: 1;
		color: var(--color-input-placeholder);
	}
}
