@use "$styles/mixins/interaction";
@use "$styles/mixins/transition";

@mixin button-disabled {
	@include interaction.disabled {
		background-color: var(--color-bg-button-disabled) !important;
		color: var(--color-fg-button-disabled) !important;
		border-color: var(--color-bg-button-disabled) !important;

		cursor: not-allowed;
	}
}

@mixin button-transition {
	@include transition.create(background-color, color, border-color);
}

@mixin button-1 {
	background-color: var(--color-bg-button-1);
	color: var(--color-fg-button-1);
	border: 1px solid var(--color-bg-button-1);

	@include interaction.hover {
		background-color: var(--color-bg-button-1-hover);
		color: var(--color-fg-button-1-hover);
		border-color: var(--color-bg-button-1-hover);
	}

	@include interaction.active {
		background-color: var(--color-bg-button-1-active);
		color: var(--color-fg-button-1-active);
		border-color: var(--color-bg-button-1-active);
	}

	@include button-transition();

	@include button-disabled();
}

@mixin button-2 {
	background-color: var(--color-bg-button-2);
	color: var(--color-fg-button-2);
	border: 1px solid var(--color-fg-button-2);

	@include interaction.hover {
		background-color: var(--color-bg-button-2-hover);
		color: var(--color-fg-button-2-hover);
		border-color: var(--color-bg-button-2-hover);
	}

	@include interaction.active {
		background-color: var(--color-bg-button-2-active);
		color: var(--color-fg-button-2-active);
		border-color: var(--color-bg-button-2-active);
	}

	@include button-transition();

	@include button-disabled();
}

@mixin button-3 {
	background-color: var(--color-bg-button-3);
	color: var(--color-fg-button-3);

	@include interaction.hover {
		background-color: var(--color-bg-button-3-hover);
		color: var(--color-fg-button-3-hover);
	}

	@include interaction.active {
		background-color: var(--color-bg-button-3-active);
		color: var(--color-fg-button-3-active);
	}

	@include button-transition();

	@include button-disabled();
}
