@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: flex;
	align-items: center;
	gap: convert-px2rem(10);
	@include md {
	}

	@include lg {
	}
}

.count {
	width: convert-px2rem(40);
	height: convert-px2rem(40);
	background-color: var(--color-alert);
	border-radius: 50%;
	font-size: convert-px2rem(14);
	@include flex-center();
	color: var(--background);

	&_empty {
		background-color: var(--bg-button-3);
		color: var(--foreground);
	}

	@include md {
	}

	@include lg {
	}
}
