@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.wrap {
	width: 100%;
	max-height: 100%;
	height: 100%;
	background-color: var(--background);

	@include md {
		height: auto;
		max-width: convert-px2rem(600);
		border-radius: convert-px2rem(30);
	}
}

.scroll {
	max-height: 100%;
}

.close {
	position: absolute;
	right: convert-px2rem(20);
	top: convert-px2rem(20);
}

.content {
	padding: convert-px2rem(60) convert-px2rem(35);
	position: relative;
}
