@use "@/styles/functions/convert";
@use "@/styles/mixins/scrollbar";
@use "@/styles/mixins/transition";
@use "@/styles/mixins/interaction";

.wrap {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: convert.to-rem(var(--input-border-radius-number));
	border: 1px solid var(--color-input-border);
	padding: convert.to-rem(14) convert.to-rem(4) convert.to-rem(14) 0;
	@include transition.create(border-color);

	&:has(.input:focus-visible) {
		border-color: var(--color-input-border-focused);
	}

	&.error {
		border-color: var(--color-alert) !important;
	}

	&.disabled,
	&:has(textarea:disabled) {
		cursor: not-allowed;
		background-color: var(--bg-input-disabled);
	}
}

.input {
	display: block;
	width: 100%;
	font-size: convert.to-rem(16);
	padding-right: convert.to-rem(32);
	padding-left: convert.to-rem(16);
	resize: vertical;
	min-height: convert.to-rem(150);
	max-height: convert.to-rem(400);
	border: none;
	outline: none;
	@include scrollbar.scrollbar;

	&::-webkit-scrollbar-thumb {
		cursor: auto;
	}

	&::placeholder {
		opacity: 1;
		color: var(--color-input-placeholder);
	}

	@include interaction.disabled {
		resize: none;
		cursor: not-allowed;
		color: var(--fg-input-disabled);
	}
}
