@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.item {
	@include menu-link();
	font-size: convert-px2rem(12);

	@include lg {
		&:nth-child(2) {
			grid-row: 2;
			grid-column: 2;
		}

		&:nth-child(4) {
			grid-row: 1;
			grid-column: 3;
		}

		&:nth-child(5) {
			grid-row: 1;
			grid-column: 2;
		}
	}
}
