@use "@/styles/functions/convert";
@use "@/styles/mixins/mixins";
@use "@/styles/mixins/breakpoints";
@use "@/styles/mixins/typography";
@use "@/styles/mixins/transition";

.wrap {
	position: relative;
	@include mixins.flex-center;
	width: fit-content;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}

.triangle {
	position: absolute;
	width: convert.to-rem(12);
	svg {
		width: 100%;
		height: auto;
	}
}

@mixin top {
	left: 50%;
	bottom: calc(100% + 12px);
	transform: translateX(-50%);
	.triangle {
		left: 50%;
		top: calc(100% - 4px);
		transform: translateX(-50%) rotate(-90deg);
	}
}

@mixin bottom {
	left: 50%;
	top: calc(100% + 12px);
	transform: translateX(-50%);
	.triangle {
		left: 50%;
		bottom: calc(100% - 4px);
		transform: translateX(-50%) rotate(90deg);
	}
}

@mixin right {
	left: calc(100% + 12px);
	top: 50%;
	transform: translateY(-50%);
	.triangle {
		right: calc(100% - 2px);
		top: 50%;
		transform: translateY(-50%);
	}
}

@mixin left {
	right: calc(100% + 12px);
	top: 50%;
	transform: translateY(-50%);
	.triangle {
		left: calc(100% - 2px);
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
	}
}

.popup {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	min-width: convert.to-rem(208);

	box-shadow: var(--box-shadow);

	border-radius: convert.to-rem(10);
	padding: convert.to-rem(20);
	background-color: var(--background);
	z-index: 5;

	@include transition.create(opacity, visibility);

	&.top {
		@include breakpoints.lg {
			@include top();
		}
	}

	&.topMobile {
		@include breakpoints.lg-max {
			@include top();
		}
	}

	&.bottom {
		@include breakpoints.lg {
			@include bottom();
		}
	}

	&.bottomMobile {
		@include breakpoints.lg-max {
			@include bottom();
		}
	}

	&.right {
		@include breakpoints.lg {
			@include right();
		}
	}

	&.rightMobile {
		@include breakpoints.lg-max {
			@include right();
		}
	}

	&.left {
		@include breakpoints.lg {
			@include left();
		}
	}

	&.leftMobile {
		@include breakpoints.lg-max {
			@include left();
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}
}

.message {
	@include typography.additional-text;
}

.icon {
	width: convert.to-rem(24);
	height: convert.to-rem(24);
	overflow: hidden;

	svg {
		width: 100%;
		height: auto;
	}
	@include mixins.flex-center;
}
