@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.wrap {
	position: relative;
	@include flex-center;

	@include md {
	}

	@include lg {
	}
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}

.triangle {
	position: absolute;
	width: convert-px2rem(12);
	svg {
		width: 100%;
		height: auto;
	}
}

@mixin top {
	left: 50%;
	bottom: calc(100% + 12px);
	transform: translateX(-50%);
	.triangle {
		left: 50%;
		top: calc(100% - 4px);
		transform: translateX(-50%) rotate(-90deg);
	}
}

@mixin bottom {
	left: 50%;
	top: calc(100% + 12px);
	transform: translateX(-50%);
	.triangle {
		left: 50%;
		bottom: calc(100% - 4px);
		transform: translateX(-50%) rotate(90deg);
	}
}

@mixin right {
	left: calc(100% + 12px);
	top: 50%;
	transform: translateY(-50%);
	.triangle {
		right: calc(100% - 2px);
		top: 50%;
		transform: translateY(-50%);
	}
}

@mixin left {
	right: calc(100% + 12px);
	top: 50%;
	transform: translateY(-50%);
	.triangle {
		left: calc(100% - 2px);
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
	}
}

.popup {
	opacity: 0;
	visibility: hidden;
	transition:
		opacity var(--transition-duration),
		visibility var(--transition-duration);
	position: absolute;
	min-width: convert-px2rem(208);

	box-shadow: var(--box-shadow);

	border-radius: convert-px2rem(10);
	padding: convert-px2rem(20);
	background-color: var(--background);
	z-index: 5;

	&.top {
		@include lg {
			@include top();
		}
	}

	&.topMobile {
		@include lg-max {
			@include top();
		}
	}

	&.bottom {
		@include lg {
			@include bottom();
		}
	}

	&.bottomMobile {
		@include lg-max {
			@include bottom();
		}
	}

	&.right {
		@include lg {
			@include right();
		}
	}

	&.rightMobile {
		@include lg-max {
			@include right();
		}
	}

	&.left {
		@include lg {
			@include left();
		}
	}

	&.leftMobile {
		@include lg-max {
			@include left();
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}
}

.message {
	@include additional-text;
}

.icon {
	min-width: convert-px2rem(24);
	min-height: convert-px2rem(24);

	svg {
		width: 100%;
		height: auto;
	}
	@include flex-center;
}
