@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: flex;
	flex-direction: column;
	gap: convert-px2rem(60);
	padding-bottom: convert-px2rem(60);
	width: 100%;

	@include md {
	}

	@include lg {
		gap: convert-px2rem(100);
		padding-bottom: convert-px2rem(100);
	}
}
