@use "@/styles/functions/_convert";
@import "@/styles/mixins/typography";

.item {
	opacity: 0.8;
	display: flex;

	&:first-child {
		.separator {
			display: none;
		}
	}

	&:last-child {
		pointer-events: none;
		opacity: 1;
	}
}

.link {
	@include link-2;
	@include additional-text;
	text-decoration: none;
	white-space: nowrap;

	span {
		white-space: nowrap;
	}
}

.separator {
	@include additional-text;
	min-width: convert.to-rem(7);
	text-align: center;
	margin: 0 convert.to-rem(4);
}
