@use "@/styles/functions/convert";
@use "@/styles/mixins/mixins";

.block {
	display: flex;
	flex-wrap: wrap;
	gap: convert.to-rem(5);
}

.link {
	width: convert.to-rem(40);
	height: convert.to-rem(40);
	flex-shrink: 0;

	@include mixins.flex-center;
	border-radius: 50%;

	transition:
		background-color var(--transition-duration),
		color var(--transition-duration);

	background-color: var(--bg-button-1);
	color: var(--fg-button-1);

	@include mixins.hover-wrapper {
		background-color: var(--bg-button-1-hover);
		color: var(--fg-button-1-hover);
	}

	@include mixins.active-wrapper {
		background-color: var(--bg-button-1-active);
		color: var(--fg-button-1-active);
	}
}
