@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	@include md {
	}

	@include lg {
	}
}

.wrap {
	position: relative;
}

.picker {
	background-color: var(--background);
	box-shadow: var(--box-shadow);

	&.modal {
		z-index: 1;
		position: absolute;
		top: 100%;
		left: 0;
		visibility: hidden;
		opacity: 0;

		&.open {
			visibility: visible;
			opacity: 1;
		}
	}
}
