@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	display: flex;
	align-items: center;
	margin-left: auto;

	@include md {
	}

	@include lg {
	}
}

.item {
	height: 100%;
	flex-shrink: 0;
	padding: 0 convert-px2rem(16);
	border-right: 1px solid var(--bg-card);
	min-height: convert-px2rem(40);
	display: flex;

	align-items: center;

	@include lg {
		padding: 0 convert-px2rem(30);
	}

	&.social {
		display: none;

		@include lg {
			display: flex;
		}
	}

	&.profile {
		@include lg {
			border: none;
			padding-right: 0;
			min-width: convert-px2rem(84);
		}
	}

	&.burger {
		padding-right: 0;
		border: none;
		@include lg {
			display: none;
		}
	}
}
