@import "@/styles/functions/convert-px2rem";
@import "@/styles/mixins/typography";
@import "@/styles/mixins/square-size";
@import "@/styles/mixins/breakpoints";
@import "@/styles/mixins/mixins";

.block {
	max-width: convert-px2rem(99);
	flex-shrink: 0;

	@include lg {
		max-width: convert-px2rem(156);
	}
}
