@use "$styles/functions/convert";
@use "$styles/mixins/transition";
@use "$styles/mixins/interaction";

.wrap {
	display: block;
	position: relative;
}

.input {
	display: block;

	width: 100%;
	min-height: convert.to-rem(var(--input-height-number));

	padding: convert.to-rem(5) convert.to-rem(36) convert.to-rem(5)
		convert.to-rem(16);

	border: 1px solid var(--color-input-border);
	border-radius: convert.to-rem(var(--input-border-radius-number));

	background-color: var(--color-bg-input);
	color: var(--color-fg-input);

	font-size: convert.to-rem(16);

	@include transition.create(border-color);

	@include interaction.keyboard-focus {
		border-color: var(--color-input-border-focused);
	}

	&.error {
		border-color: var(--color-alert) !important;
	}

	&.password {
		padding-right: convert.to-rem(58);
	}

	@include interaction.disabled {
		cursor: not-allowed;
		color: var(--color-fg-input-disabled) !important;
		background-color: var(--color-bg-input-disabled) !important;
		opacity: 1;
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus,
	&:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 convert.to-rem(var(--input-height-number))
			var(--color-bg-input-autofill) inset !important;
		-webkit-text-fill-color: var(--color-fg-input-autofill);
		transition: background-color 5000s ease-in-out 0s;
	}

	&::placeholder {
		opacity: 1;
		color: var(--color-input-placeholder);
	}
}
